table {
    border-collapse: collapse;
}

th,
td {
    padding: 0 0.5rem 0.5rem;
    white-space: nowrap;
    text-align: left;

    &:last-child {
        padding-right: 0;
    }
}
th {
    &:first-child {
        padding-left: 0;
    }
}
td {
    padding-top: 0.5rem;
}

thead tr {
    border-bottom: 1px solid var(--surface-border);
}
