<div class="card" *ngIf="scoreboard$ | async as scoreboard">
    <h2>Scoreboard</h2>

    <div class="card overflow-x-auto">
        <table class="w-full">
            <thead>
                <tr>
                    <th *ngFor="let field of [
                        'Rank', 'Difficulty', 'Job ID', 'ExtraNonce2', 'Time', 'Nonce', 'Version Bits'
                    ]" class="text-500 font-medium">{{field}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of scoreboard; let i = index">
                    <td>
                        <i class="pi pi-trophy" *ngIf="i < 3" [ngStyle]="{
                            'color': i === 0 ? 'gold' : i === 1 ? 'silver' : 'peru'
                        }"></i>
                    </td>
                    <td class="text-900">{{ entry.difficulty | suffix }}</td>
                    <td class="code">{{ entry.job_id }}</td>
                    <td class="code">{{ entry.extranonce2 }}</td>
                    <td>{{ entry.ntime * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td class="code">{{ entry.nonce }}</td>
                    <td class="code">{{ entry.version_bits }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
